body {

}

.parent {
    display: flex;
}

.item {
    border: 1px solid;
    opacity: 0.9;
    width: 100px;
    height: 100px;
    background: rgb(29, 203, 226);
}

.item:first-child {
    background: yellow;
}

.item:last-child {
    background: crimson;
}